AUTH_KEYCLOAK_URL=https://<HOSTNAME>/auth
AUTH_KEYCLOAK_REALM=metadata-editor
AUTH_KEYCLOAK_CLIENT_ID=mde
AUTH_KEYCLOAK_CLIENT_SECRET=
# This is a route in the client
AUTH_REDIRECT_URI=https://<HOSTNAME>/auth-callback

# The public URL of the Geonetwork instance
PUBLIC_GNOS_URL=https://localhost/geonetwork

# The Backend URL as accesible from the docker network
BACKEND_URL=http://mde-backend:8080

# The log level for the client and server
CLIENT_LOG_LEVEL=debug
PUBLIC_BROWSER_LOG_LEVEL=debug

# Allows self-signed certificates
NODE_TLS_REJECT_UNAUTHORIZED=0
